/* Page Favourites ----------------------------------------------- */

.favGlobPage {
  /* padding-top: 80px; */
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  width: 1100px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #1f2024;
}
.totFav {
  width: 100%;
  background-color: #1f2024;
}

.favBut1 {
  display: flex;
  background-color: #1f2024;
}
.favImg img {
  position: absolute;
}
.favImg button {
  position: relative;
}
.favImg button:hover {
  color: #9d5b64;
}
.favName {
  position: relative;
  margin-top: 330px;
}

.favPage img {
  width: 250px;
  height: 350px;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 15px rgb(69, 68, 68);
}
.favTitle h1 {
  color: white;
  padding-top: 100px;
  margin-bottom: 50px;
  font-size: 35px;
  text-decoration: #21a1b3 underline 1px;
}
.mapFav {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1100px;
  background-color: #1f2024;
}
.favPage {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  width: 250px;
  height: 400px;
  background-color: #1f2024;
}
.favPage p {
  color: white;
  font-size: 18px;
}
.favName {
  width: 250px;
}
.favPage button {
  color: rgb(184, 180, 180);
  width: 60px;
  height: 30px;
  border-radius: 5px;
  font-size: 20px;
  background: none;
  border: none;
}
.favimg button:hover {
  color: rgb(147, 59, 69);
}

.favTitle {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.favTitle button {
  color: rgb(184, 180, 180);
  width: 60px;
  height: 30px;
  border-radius: 5px;
  font-family: "Georama", sans-serif;
  font-size: 18px;
  background-color: #3f414a;
  border: none;
  border-bottom: 1px solid #21a1b3;
  margin-right: 25px;
  margin-top: 60px;
}

.favTitle button:hover {
  color: #21a1b3;
}

/* ==============1150px==============================================================*/
@media (max-width: 1150px) {
  /* .header {
    background-color: #fff;
  } */

  .favGlobPage {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    width: 90vw;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #1f2024;
  }
  .mapFav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 90vw;
    background-color: #1f2024;
  }
}

@media (max-width: 630px) {
  .favTitle h1 {
    color: white;
    padding-top: 100px;
    margin-bottom: 50px;
    font-size: 25px;
    text-decoration: #21a1b3 underline 1px;
  }
}
