/*partie review page game-----------------------------*/

.counter {
  width: 100px;
  height: 30px;
}
/* Page Review ---------------------------------------------------------- */

.mainReview {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  background-color: #1f2024;
}
.boxReview {
  width: 750px;
  height: 400px;
  background-color: #3a3b42;
  border-radius: 7px;
  padding: 15px 33px 0 20px;
  margin: 0 auto;
  margin-top: 200px;
  color: white;
}
.boxReview h1 {
  font-size: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #21a1b3;
}
.boxReview p {
  font-size: 18px;
  margin-bottom: 15px;
}
.boxReview1 {
  margin-bottom: 40px;
}

.boxReview textarea {
  width: 100%;
  border-radius: 7px;
  font-size: 15px;
  color: #1f2024;
  background-color: lightgray;
  font-family: "Georama", sans-serif;
  padding-left: 10px;
  padding-top: 10px;
}
.boxReview1 textarea {
  height: 25px;
}
.butReview button {
  color: #1f2024;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  font-family: "Georama", sans-serif;
  font-size: 18px;
  background-color: #21a1b3;
  border: none;
  border-bottom: 1px solid #21a1b3;
  margin-top: 15px;
  margin-left: 643px;
}
.testreview {
  display: flex;
  justify-content: space-between;
}
.testreview button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  font-family: "Georama", sans-serif;
  font-size: 18px;
  background-color: #3a3b42;
  color: lightgray;
  border: 1px solid #21a1b3;
}
.testreview button:hover {
  color: #21a1b3;
}
.butReview button:hover {
  color: rgb(103, 100, 100);
}
.reviewCounter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
  width: 100px;
  margin-left: 86%;
}
.reviewCounter button {
  background: none;
  border: none;
}
.but1Review,
.but2Review {
  font-size: 20px;
}
.but1Review {
  color: #73d963;
}
.green {
  color: #73d963;
}
.red {
  color: #ff4655;
}
.but2Review {
  color: #ff4655;
}

/* ==============1150px==============================================================*/
@media (max-width: 1150px) {
  /* .header {
    background-color: #fff;
  } */

  .homeh1 h1 {
    color: white;
    font-size: 25px;
    margin-left: 30px;
  }
  .mainReview {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    background-color: #1f2024;
  }
  .boxReview {
    width: 80vw;
    height: 400px;
    background-color: #3a3b42;
    border-radius: 7px;
    padding: 15px 33px 0 20px;
    margin: 0 auto;
    margin-top: 200px;
    color: white;
  }

  .butReview button {
    color: #1f2024;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    font-family: "Georama", sans-serif;
    font-size: 18px;
    background-color: #21a1b3;
    border: none;
    border-bottom: 1px solid #21a1b3;
    margin-top: 15px;
    margin-left: 60vw;
  }
}

/*==========630px======================*/

@media (max-width: 630px) {
  .boxReview {
    width: 70vw;
    height: 440px;
    background-color: #3a3b42;
    border-radius: 7px;
    padding: 15px 33px 0 20px;
    margin: 0 auto;
    margin-top: 200px;
    color: white;
  }
  .butReview button {
    color: #1f2024;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    font-family: "Georama", sans-serif;
    font-size: 18px;
    background-color: #21a1b3;
    border: none;
    border-bottom: 1px solid #21a1b3;
    margin-top: 15px;
    margin-left: 25vw;
  }
  .reviewCounter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
    width: 100px;
    margin-left: 70%;
  }
}
