.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: #1f2024;
  border-bottom: 2px solid #21a1b3;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.powered {
  color: rgb(184, 180, 180);
  padding-right: 50px;
}

.logo img {
  width: 170px;
  object-fit: cover;
  /* height: 50px; */
  margin-left: 50px;
  margin-top: 5px;
}
.connectButons1 {
  display: flex;
  width: auto;
  align-items: center;
  padding-right: 20px;
}
.connectUser {
  display: flex;
  align-items: center;
}
.connectUser p {
  color: #21a1b3;
  font-family: "Georama", sans-serif;
  font-size: 19px;
  margin-right: 45px;
}
.connectUser {
  width: auto;
  gap: 20px;
}
.connectButons,
.connectButons1 {
  padding-right: 40px;
}

.connectButons button {
  height: 30px;
  width: 100px;
  background-color: #1f2024;
  font-family: "Georama", sans-serif;
  font-size: 17px;
  color: rgb(184, 180, 180);
  border: none;
  /* border-bottom: 1px solid #21a1b3; */
}
.connectButons1 button {
  height: 30px;
  width: 140px;
  background-color: #1f2024;
  font-family: "Georama", sans-serif;
  font-size: 17px;
  color: rgb(184, 180, 180);
  border: none;
  /* border-bottom: 1px solid #21a1b3; */
}
.connectButons .but1 {
  border-right: 1px solid #21a1b3;
}

.connectButons1 .but0:hover {
  color: rgb(147, 59, 69);
}
.connectButons1 .but2:hover {
  color: #21a1b3;
}
.connectButons button:hover {
  color: #21a1b3;
}
.headerAvatar img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: 1px solid #21a1b3;
  border-radius: 50%;
  background-color: lightskyblue;
}
