.gameResult {
  margin: 0 auto;
  max-width: 1300px;
  min-height: 1500px;
  background-color: #1f2024;
  color: #fff;
}

@media (max-width: 1150px) {
  .gamesResult {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 100vw;
    height: auto;
    /* background-color: #1f2024; */
    /* border: 2px solid black; */
    padding-bottom: 50px;
  }
  .gameResult > h1 {
    font-size: 26px;
    text-decoration: underline #21a1b3;
    padding-top: 90px;
    margin-bottom: 35px;
    margin-left: 20px;
  }
}
/*==========630px======================*/

@media (max-width: 630px) {
  .gamesResult {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;
    /* background-color: #1f2024; */
    /* border: 2px solid black; */
    padding-bottom: 50px;
  }
  .gameResult > h1 {
    font-size: 26px;
    text-decoration: underline #21a1b3;
    padding-top: 90px;
    margin-bottom: 35px;
    margin-left: 20px;
  }
}
