@import url("https://fonts.googleapis.com/css2?family=Georama:wght@400;700&family=IBM+Plex+Sans:wght@400;700&family=Montserrat:wght@400;700&display=swap");
.App {
  font-family: "Georama", sans-serif;
}

/* Header ----------------------------------------------------*/
.header {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #1f2024;
  border-bottom: 2px solid #fd4656;
}
.logo img {
  height: 50px;
  margin-left: 50px;
}

/* Homepage ----------------------------------------------------*/

.searchBar {
  display: flex;
  height: 150px;
  background-color: #1f2024;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homePageLogo img {
  width: 400px;
}
.searchBar input {
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 5px;
}
.searchBar input::placeholder {
  color: rgb(184, 180, 180);
  font-family: "Georama", sans-serif;
  padding-left: 10px;
}
